.main_tab {
    /* background-color: #000000; */
    width: 100%;
    height: 100%;
    padding: 13% 13%;
    color: white;
    display: none;

}

.main_tab__title {
    font-size: 80px;
    margin: 0;
    margin-bottom: 15px;
}

.main_tab__clock {
    width: 100%;
    height: 40%;
}

.main_tab__bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main_tab__bottom__inner {
    width: 50%;

}

.main_tab__description {
    font-size: 18px;
}

.main_tab__button {
    background-color: transparent;
    border: 3px solid white;
    font-size: 20px;
    color: white;
    padding: 7px 25px;
    font-family: "Montserrat";
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: all 0.1s ease-in;
}

.main_tab__button:hover {
    background-color: gray;
}

.p2 {
    position: absolute;
    margin-top: -219px;
    margin-left: 152px;
    text-align: center;
    font-family: Montserrat;
    color: white;
    font-size: 30px;

    transform-style: preserve-3d;
    transform: rotateX(6deg) rotateY(65deg) rotateZ(8deg);
    z-index: 2;
}